*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color:  #fb911f;


}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
   
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    margin-top: 1px;
}
.btn-reserve{
    padding: 5px 10px;
    background: #fb911f;
    margin-top: 20px;
    text-transform: uppercase;
}
.btn-reserve:hover{
    color: #fb911f;
    transition: ease-out;

}

li a:hover{
   color: #fb911f;
   border-bottom: 2px solid #fb911f;

}
.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/gallery/gallery-8.jpg);
    background-size: cover;
}
.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    
    font-size: 3em;
    text-transform: capitalize;
}
.btn1{
    font-size: 1em;
    color: #fff;
    background-color:#fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn1:hover{
    letter-spacing: 4px;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}
.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: black;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;

}
.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}
.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    margin-top: -100px;
}
.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px black;
}
.menu .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

}
.menu .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: black;
}
.contact{
    background-image: url(menu/mozzarella.jpg);
    background-size:cover;
    box-shadow: 2px 2px 12px black;
    width: 100%;
    background-position: unset;
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px black;
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}
.contactform .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: #ffff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}
.reservation{
    background-color: #fff;
   
   
    box-shadow: 2px 2px 12px black;
    width: 100%;
    background-position: unset;

}
.reservation input, button{
    
   
   
    margin-left: 200px;
    margin-top: 40px;
}
.copyright{
    padding: 20px 40px;
    border-top: 2px solid black;
    background: white;
    text-align: center;

}

.copyright a{
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}
header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a{
    color: #000;
}
header.sticky .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

